<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/">
    <img [src]="logoUrl" style="width:40px" /> {{title}}
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/listPlans">
        <fa name="users"></fa>
        List of Plans
      </a>
    </li>
    </ul>

  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="doChangeField('speed',srch)">
            <fa name="envelope"></fa>
          </button>
          <button type="button" class="btn btn-primary" (click)="doChangeField('maxUsage',srch)">
            <fa name="mobile"></fa>
          </button>
          <button type="button" class="btn btn-primary" (click)="doChangeField('chargePerMonth',srch)">
            <fa name="user"></fa>
          </button>
        </div>
      </div>
      <input type="text" name="srchValue" class="form-control" [(ngModel)]="srchValue" required #srch placeholder="Speed" />
      <div class="input-group-prepend">
        <button class="btn btn-primary" (click)="doSearch()">
          <fa name="search"></fa>
        </button>
      </div>
    </div>
  </form>
</nav>
<router-outlet></router-outlet>
